body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(155deg, rgba(0, 0, 110, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.portfolio-container {
    display: none; /* Grid layout */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid columns */
    gap: 20px; /* Space between items */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Center container */
    width: 100%;
}

.project-panel {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-panel:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-panel img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
}

.project-panel a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.project-panel a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: transparent;
}

.project-panel:hover .project-text {
    opacity: 1;
}

/* js */

#particle-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Send behind the portfolio content */
    pointer-events: none; /* Allow interactions with content on top */
    background-color: transparent;
}

#welcome-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(88, 37, 184, 0.1); /* Slightly opaque background */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;  /* Smooth transition effect */
    color:#fff;
}

#welcome-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);  /* Darker, slightly more opaque background on hover */
}

#welcome-message{
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.name-container {
    position: fixed;
    top: 2%;
    left: 2%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    z-index: 1000;
}

.name {
    display: grid;
    font-size: 50px;
    font-family:'Roboto', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.button-container {
    position: absolute;
    top:10%;
    left: 2%;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(88, 37, 184, 0.1);
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgba(88, 37, 184, 0.3);
}

.links-container {
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(88, 37, 184, 0.8);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.links-container a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.links-container a:hover {
    text-decoration: underline;
}

.button.active + .links-container {
    opacity: 1;
    visibility: visible;
}

.project-description {
    display: none; /* Hidden by default */
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.description-area {
    display:none; /* Hidden by default */
    padding: 15px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    background: transparent;
    max-width: 1200px;
    width: 100%;
}

#dynamic-description {
    margin: 0;
}

.idk {
    display: block;
}

